<section class="footer_contact">
    <p>
        <span class="footer_contact_telephone">Work: <a href="tel:3604236633">(360) 423-6633</a></span>
    </p>
    <p>
        <span class="footer_contact_telephone">Cell: <a href="tel:3604304604">(360) 430-4604</a></span>
    </p>
    <p>
        <span class="footer_contact_email">Email: <a href="mailto:kinderpainting@gmail.com">kinderpainting@gmail.com</a></span>
    </p>
    <br>
    <p>
        Copyright @{{"now"|date('Y')}}
    </p>
</section>