{% extends "base.twig" %}

{% block content %}
	<article class="content_wrapper">
		<div class="post-type-{{post.post_type}} content_container" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section_container">
					<h1 class="page_title">{{post.title}}</h1>
				</div>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}